* {
  box-sizing: border-box;
}

body{
  background-image: url("bg.jpg");
  background-size: 100%;
  margin: 0px 0px 0px 0px;
}

div{
overflow: auto;
}

h1 {
  margin-bottom: 50px;
  background-color:rgba(255, 255, 255, 0.6);
  padding: 25px 0px 20px 0px;
  text-align: center;
  color: black;
  font-size: 60px;
  font-weight: bold;
  font-family: marvel;

}

p {
  padding: 0px 25px 0px 25px;
  font-family: calibri bold;
  font-size: 22px;
  color: white;
  font-style: italic;
  text-align: justify;
  overflow: scroll;
}

.name{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: forte;
  font-size: 25px;
  border-radius: 30px 30px 0px 0px;
  overflow: scroll;
}

.bg{
    background-color:rgba(0,0,0,0.8);
    margin: 10px 10px 10px 10px;
    border-radius: 30px;
    height: 350px;
    overflow: scroll;

}

.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
